<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MenteSaudavel"
        android:usesCleartextTraffic="true">

        <!-- Activity de cadastro interna -->
        <activity
            android:name=".activity.CadastroActivity"
            android:theme="@style/Theme.MenteSaudavel.NoActionBar"
            android:exported="false" />

        <!-- Activity de login com intent-filter -->
        <activity
            android:name=".activity.LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.MenteSaudavel.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Activities internas -->
        <activity
            android:name=".activity.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".activity.DashboardActivity"
            android:exported="false" />

        <!-- Questionário, não exportado pois só é acessado dentro do app -->
        <activity
            android:name=".activity.QuestionarioActivity"
            android:exported="false" />

    </application>

</manifest>
